
NET "A(0)" LOC = "P11";
NET "A(1)" LOC = "L3";

NET "CLK" LOC = "G12";
NET "RESET" LOC = "A7";

NET "R" LOC = "P7";
NET "OUT_25" LOC = "M5";
NET "OUT_50" LOC = "M11"; 

NET "A_S(0)" LOC = "P6";
NET "A_S(1)" LOC = "N5";
NET "A_S(2)" LOC = "N4";
NET "A_S(3)" LOC = "P4";
NET "A_S(4)" LOC = "G1";


NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;