//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 11 22:10:51 2019
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "K3" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "C" LOCATE = SITE "P11" LEVEL 1;
COMP "X" LOCATE = SITE "M11" LEVEL 1;
COMP "Y" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

